.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Asap", sans-serif;
  font-family: "Quicksand", sans-serif;
}
h1 {
  color: blue;
  font-family: "Asap", sans-serif;
  font-family: "Quicksand", sans-serif;
}
li {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}

.units {
  font-size: 15px;
}

#temperature {
  font-size: 50px;
}

#celsius-link {
  text-decoration: none;
}

#fahrenheit-link {
  text-decoration: none;
}
