h1 {
  color: white;
  font-family: "Asap", sans-serif;
  font-family: "Quicksand", sans-serif;
}
li {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
.container {
  max-width: 600px;
  padding: 20px;
  margin: 30px auto;
  border-radius: 10px;
  font-family: "Asap", sans-serif;
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(
    110.6deg,
    rgb(184, 142, 252) 2.2%,
    rgb(104, 119, 244) 100.2%
  );
}
.units {
  font-size: 15px;
}
.weather-forecast {
  color: black;
  margin-top: 20px;
}
.weather-forecast-date {
  font-size: 20px;
}
.weather-forecast-temperature-max {
  font-size: 18px;
}
.weather-forecast-temperature-min {
  font-size: 18px;
  opacity: 0.5;
}
.link {
  text-decoration: none;
  color: white;
  size: 12px;
}

#temperature {
  font-size: 50px;
}

#celsius-link {
  text-decoration: none;
}

#fahrenheit-link {
  text-decoration: none;
}
