.container {
  font-family: "Asap", sans-serif;
  font-family: "Quicksand", sans-serif;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  color: white;
  padding: 20px;
  border-radius: 10px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/059/757/original/christian-grab-AygJgCM_vto-unsplash.jpg?1671532004");
  background-size: cover;
  background-position: 50% 50%;
}
h1 {
  color: white;
  font-size: 90px;
  text-align: center;
  position: relative;
  top: 60px;
  text-transform: uppercase;
}
li {
  list-style: none;
  font-size: 20px;
}
li:first-letter {
  text-transform: capitalize;
}
.link {
  color: #272628;
}

.units {
  font-size: 30px;
  position: relative;
  top: -40px;
  right: -40px;
}
.weather-forecast {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300px;
}
.weather-forecast-temperature-max {
  font-size: 18px;
}
.weather-forecast-temperature-min {
  font-size: 18px;
  opacity: 0.9;
  color: #eb6e4b;
}
.signature {
  position: relative;
  right: -355px;
  top: -30px;
  color: #272628;
}
.conditions {
  position: relative;
  top: 80px;
  left: 80px;
}

#submit {
  background: #eb6e4b;
  transition: all 200ms ease;
  border: none;
}

#submit:hover {
  background: #272628;
  opacity: 0.7;
}
#temperature {
  font-size: 120px;
  position: relative;
  top: 20px;
  right: -35px;
}

#icon {
  position: relative;
  top: -20px;
  left: 50%;
}

#date {
  font-size: 15px;
  position: relative;
  top: -50px;
  right: 25px;
  color: #272628;
  opacity: 0.7;
}

#city {
  font-size: 50px;
}

#description {
  font-size: 30px;
  position: absolute;
  top: 28%;
  left: 47%;
}
